.clearfix, #sensor-card .last-data:after {
  clear: both;
  content: '';
  display: block;
  float: none;
  height: 1px;
  width: 100%; }

BODY {
  margin: 0px;
  padding: 0px; }
  BODY * {
    font-family: 'Oxygen', sans-serif; }

BODY DIV#top-bar {
  position: fixed;
  top: 0px;
  padding: 10px 20px;
  width: 100%;
  background-image: url("/garden/gfx/submit-bg.jpg");
  background-repeat: repeat-x;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65); }

BODY.login {
  margin: 0px;
  padding-top: 20px; }
  @media screen and (min-width: 600px) {
    BODY.login {
      padding-top: 30px; } }
  BODY.login .hidden {
    display: none; }
  BODY.login .clearall {
    width: 100%;
    clear: both; }
  BODY.login DIV#top-bar {
    position: fixed;
    top: 0px;
    padding: 10px 20px;
    width: 100%;
    background-image: url("/garden/gfx/submit-bg.jpg");
    background-repeat: repeat-x;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65); }
  BODY.login .content-container {
    background-color: #FFF;
    color: #000;
    margin: 10px auto 0px auto;
    padding: 0px;
    width: 80%;
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px;
    box-shadow: 0px 0px 10px 2px rgba(155, 0, 20, 0.4); }
    BODY.login .content-container .logo-title {
      background-color: #8e000d;
      border-radius: 8px 8px 0px 0px;
      color: #FFF;
      font-size: 22px;
      margin-bottom: 20px;
      padding: 20px;
      text-align: center; }
    @media screen and (min-width: 600px) {
      BODY.login .content-container {
        margin: 100px auto 0px auto;
        width: 300px; } }
    BODY.login .content-container IMG {
      display: block;
      margin: 0px auto 20px auto; }
    BODY.login .content-container .error-div P {
      color: #000;
      margin-top: 0px; }
    BODY.login .content-container FORM {
      padding: 10px 30px 30px 30px; }
      BODY.login .content-container FORM div.field {
        padding: 0px 0px 10px 0px; }
      BODY.login .content-container FORM .centered {
        text-align: center; }
      BODY.login .content-container FORM INPUT[type=text],
      BODY.login .content-container FORM INPUT[type=password] {
        border: 1px solid #8e000d;
        padding: 10px 20px;
        color: #000;
        border-radius: 2px;
        font-size: 16px;
        -moz-border-radius: 2px;
        width: 100%; }
      BODY.login .content-container FORM INPUT[type=submit] {
        background-color: #8e000d;
        border: 0px;
        border-radius: 4px;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;
        padding: 10px 20px; }

div.menu {
  position: fixed;
  background-color: #FFFFFF;
  top: 0px;
  width: 100%;
  padding-top: 0px;
  height: 60px;
  z-index: 100;
  box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75); }
  div.menu #menu-inner {
    margin: 0px auto;
    max-width: 1000px; }
    div.menu #menu-inner div.menu-item {
      border-right: 1px solid #F1F1F1;
      float: left;
      font-size: 20px;
      padding: 14px 20px 6px 20px;
      text-align: center;
      width: auto; }
      div.menu #menu-inner div.menu-item.logo {
        padding-bottom: 0px;
        padding-top: 5px; }
        div.menu #menu-inner div.menu-item.logo IMG {
          display: block;
          height: 55px;
          width: auto; }
      div.menu #menu-inner div.menu-item A {
        color: #c99e67;
        text-decoration: none;
        text-transform: uppercase; }

#sensor-card {
  height: 350px;
  margin: 100px auto 0px auto;
  max-width: 1000px; }
  #sensor-card .front,
  #sensor-card .back {
    background-color: #FFF;
    height: 350px; }
  #sensor-card .back {
    display: none; }
  #sensor-card .last-data {
    text-align: center; }
    #sensor-card .last-data H3.sensor-name {
      font-size: 24px;
      text-transform: uppercase; }
    #sensor-card .last-data #edit-icon {
      cursor: pointer;
      height: auto;
      width: 20px; }
    #sensor-card .last-data .data-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-line-pack: center;
          align-content: center;
      -ms-flex-align: stretch;
          align-items: stretch;
      padding: 0px 10%; }
    #sensor-card .last-data .data {
      background-color: #F1F1F1;
      border: 2px solid #F1F1F1;
      border-radius: 10px;
      box-sizing: border-box;
      color: #000;
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
      -ms-flex-positive: 10;
          flex-grow: 10;
      margin: 0px 10px;
      padding: 0px 0px 20px;
      width: 300px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px; }
      #sensor-card .last-data .data:nth-child(1) {
        -ms-flex-order: 1;
            order: 1; }
      #sensor-card .last-data .data:nth-child(2) {
        -ms-flex-order: 2;
            order: 2; }
      #sensor-card .last-data .data:nth-child(3) {
        -ms-flex-order: 3;
            order: 3; }
      #sensor-card .last-data .data:nth-child(4) {
        -ms-flex-order: 4;
            order: 4; }
      #sensor-card .last-data .data .parameter-name {
        margin: 10px auto; }
      #sensor-card .last-data .data .value,
      #sensor-card .last-data .data .unit {
        font-size: 22px; }
  #sensor-card .sensor-edit-form {
    background-color: #EBF1F4;
    margin: 20px auto 20px auto;
    padding: 20px;
    width: 400px; }
    #sensor-card .sensor-edit-form H3 {
      display: inline-block;
      margin-top: 0px;
      vertical-align: super; }
    #sensor-card .sensor-edit-form #back-to-data-button {
      cursor: pointer;
      display: inline-block;
      padding-top: 10px;
      width: 33px; }
    #sensor-card .sensor-edit-form .field {
      margin-bottom: 10px; }
    #sensor-card .sensor-edit-form LABEL {
      display: inline-block;
      width: 135px; }
      #sensor-card .sensor-edit-form LABEL:after {
        content: ':'; }
    #sensor-card .sensor-edit-form INPUT[type="checkbox"] {
      margin-left: 140px; }

.last-values {
  margin: 100px auto;
  width: 600px; }
  .last-values TABLE {
    border-collapse: collapse; }
    .last-values TABLE THEAD TR TH {
      background-color: #EDEDED;
      font-size: 18px;
      padding: 3px 10px;
      text-align: left; }
    .last-values TABLE TBODY TR TD {
      border: 1px solid #EDEDED;
      padding: 3px 10px; }

.log-out-link-container,
.log-in-link-container,
.admin-link-container {
  float: right;
  margin-right: 10px; }
  .log-out-link-container A,
  .log-in-link-container A,
  .admin-link-container A {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 20px auto;
    color: #c98f44;
    display: block;
    height: 33px;
    margin-top: 10px;
    padding-left: 25px;
    padding-top: 2px;
    text-decoration: none; }
    .log-out-link-container A.login,
    .log-in-link-container A.login,
    .admin-link-container A.login {
      background-image: url("/garden/images/icons/login.png"); }
    .log-out-link-container A.logout,
    .log-in-link-container A.logout,
    .admin-link-container A.logout {
      background-image: url("/garden/images/icons/logout.png"); }
    .log-out-link-container A.admin-link,
    .log-in-link-container A.admin-link,
    .admin-link-container A.admin-link {
      background-image: url("/garden/images/icons/admin.png"); }

.parameter {
  margin: 30px auto;
  width: 80%; }
  .parameter .tabs-container {
    background-color: #EDEDED;
    color: #000;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 5px 30px; }
  .parameter .graph {
    height: 400px; }

#graph-period {
  background: #F1F1F1;
  margin: 20px auto;
  max-width: 80%;
  width: 90%; }
  #graph-period div.field {
    display: inline-block;
    padding: 5px 20px 5px 10px; }
  #graph-period .submit-button {
    border: 2px solid #42E321;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    padding: 5px 10px; }

.sensor-list {
  margin: 100px auto 10px auto;
  width: 320px; }
  @media (min-width: 625px) {
    .sensor-list {
      width: 640px; } }
  @media (min-width: 950px) {
    .sensor-list {
      width: 960px; } }
  .sensor-list .sensor {
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(66, 66, 66, 0.4);
    box-sizing: border-box;
    color: #000;
    float: left;
    height: 195px;
    margin: 10px;
    max-width: 300px;
    min-width: 240px;
    padding: 0px 0px 0px 0px;
    width: 300px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; }
    .sensor-list .sensor.warning {
      border: 2px solid #934532; }
    .sensor-list .sensor H3.sensor-name {
      background-color: #8e000d;
      border-radius: 10px 10px 0px 0px;
      color: #FFF;
      margin: 0px auto;
      padding: 10px;
      text-align: center; }
      .sensor-list .sensor H3.sensor-name A {
        color: #FFF;
        text-decoration: none;
        text-transform: uppercase; }
    .sensor-list .sensor SPAN.last-updated {
      display: block;
      margin: 10px auto 0px auto;
      text-align: center; }
    .sensor-list .sensor .data {
      padding: 20px; }
      .sensor-list .sensor .data P {
        margin: 5px 0px; }
        .sensor-list .sensor .data P LABEL {
          font-weight: bold; }

BODY.admin {
  padding-top: 100px; }
  BODY.admin .admin-form .form-field {
    margin-bottom: 10px; }
    BODY.admin .admin-form .form-field LABEL {
      display: inline-block;
      width: 200px; }

/*# sourceMappingURL=styles.css.map */
