$color1: #F1F1F1
$color2: #42E321
$warningcolor: #934532

.clearfix
  clear: both
  content: ''
  display: block
  float: none
  height: 1px
  width: 100%


BODY
  margin: 0px
  padding: 0px

BODY DIV#top-bar
  position: fixed
  top: 0px
  padding: 10px 20px
  width: 100%
  background-image: url(../gfx/submit-bg.jpg)
  background-repeat: repeat-x
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)

BODY.login
  background-color: #c6e47e
  margin: 0px
  padding-top: 30px
  .hidden
    display: none
  .clearall
    width: 100%
    clear: both
  DIV#top-bar
    position: fixed
    top: 0px
    padding: 10px 20px
    width: 100%
    background-image: url(../gfx/submit-bg.jpg)
    background-repeat: repeat-x
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
    -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)

  .content-container
    background-color: #FFF
    border: 2px solid #728d32
    border-radius: 8px
    margin: 100px auto 0px auto
    padding: 20px
    text-align: center
    width: 300px
    -moz-border-radius: 8px
    -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)
    -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)
    box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)

    .logo-container
      padding: 5px 0px 20px 0px

    .error-div P
      color: #FFF
      margin-top: 0px

    FORM
      margin: 0px 0px 0px 0px
      div.field
        padding: 0px 0px 10px 0px
        &.centered
          text-align: center

      INPUT[type=text], 
      INPUT[type=password]
        border: 1px solid #728d32
        padding: 10px 20px
        color: #999
        border-radius: 4px
        -moz-border-radius: 4px
        width: 100%
        -webkit-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)
        -moz-box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)
        box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.75)

      INPUT[type=submit]
        width: 100%

        padding: 10px 20px
        background-image: url(../gfx/submit-bg.jpg)
        background-repeat: repeat-x
        border: 0px
        border: 1px solid #728d32
        color: #3f5b4b
        cursor: pointer
        border-radius: 4px
        -moz-border-radius: 4px
        -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
        -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.65)
        font-size: 16px
        font-weight: 700


div.menu
  position: fixed
  background-color: #FFFFFF
  top: 0px
  width: 100%
  padding-top: 0px
  height: 60px
  z-index: 100
  -webkit-box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75)
  -moz-box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75)
  box-shadow: 0px 3px 12px 0px rgba(50, 50, 50, 0.75)
  #menu-inner
    margin: 0px auto
    max-width: 1000px
    div.menu-item
      border-right: 1px solid $color1
      float: left
      font-size: 20px
      padding: 14px 20px 6px 20px
      text-align: center
      width: auto
      &.logo
        padding-bottom: 0px
        padding-top: 5px
        IMG
          display: block
          height: 55px
          width: auto
      A
        color: #c99e67
        text-decoration: none
        text-transform: uppercase

#sensor-card
  height: 300px
  margin: 100px auto 0px auto
  max-width: 1000px
  .front,
  .back
    background-color: #FFF
    height: 300px
  .back
    display: none
  .last-data    
    text-align: center
    &:after
      @extend .clearfix
    H3.sensor-name
      font-size: 24px
      text:
        transform: uppercase
    #edit-icon
      cursor: pointer
      height: auto
      width: 20px
    .data-container
      display: flex
      align-content: stretch
      align-items: stretch
      justify-content: center
      padding: 0px 10%
    .data
      background-color: $color1
      border: 2px solid $color2
      border-radius: 10px
      box-sizing: border-box
      color: #000
      flex-basis: 25%
      margin: 0px 10px
      padding: 20px
      width: 300px
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      &:nth-child(1)
        order: 1
      &:nth-child(2)
        order: 2
      &:nth-child(3)
        order: 3
      &:nth-child(4)
        order: 4
  .sensor-edit-form
    background:
      color: #EBF1F4
    margin: 20px auto 20px auto
    padding: 20px
    width: 400px
    H3
      display: inline-block
      margin-top: 0px
      vertical-align: super
    .field
      margin-bottom: 10px
    LABEL
      display: inline-block
      width: 135px
      &:after
        content: ':'
    INPUT[type=checkbox]
      margin-left: 140px
    #back-to-data-button
      cursor: pointer
      display: inline-block
      padding-top: 10px
      width: 33px
    .form-button
      INPUT
        background-color: #FAFAFA
        border: 1px solid #DBE1E4
        display: block
        margin: 0px auto 10px auto
        padding: 6px 10px
        width: 150px

.last-values
  margin: 100px auto
  width: 600px
  TABLE
    border-collapse: collapse
    THEAD
      TR
        TH
          background:
            color: #EDEDED
          font:
            size: 18px
          padding: 3px 10px
          text-align: left
    TBODY
      TR
        TD
          border: 1px solid #EDEDED
          padding: 3px 10px

.log-out-link-container,
.log-in-link-container
  float: right
  margin-right: 30px
  A
    background-position: 0px 0px
    background-repeat: no-repeat
    background-size: 20px auto
    color: #c98f44
    display: block
    height: 33px
    margin-top: 10px
    padding:
      left: 25px
      top: 2px
    text-decoration: none
    &.login
      background-image: url(../images/icons/login.png)
    &.logout
      background-image: url(../images/icons/logout.png)

.parameter
  margin: 30px auto
  width: 80%
  .tabs-container
    background:
      color: #EDEDED
    color: #000
    font:
      weight: bold
    margin:
      bottom: 30px
    padding: 5px 30px
    .tab
  .graph
    height: 400px

#graph-period
  background: #F1F1F1
  margin: 20px auto
  max-width: 80%
  width: 90%
  div.field
    display: inline-block
    padding: 5px 20px 5px 10px
  .submit-button
    border: 2px solid #42E321
    border-radius: 4px
    cursor: pointer
    display: inline-block
    margin-right: 15px
    padding: 5px 10px

.sensor-list
  margin: 100px auto 10px auto
  width: 320px
  @media (min-width: 625px)
    width: 640px
  @media (min-width: 950px)
    width: 960px
  .sensor
    background-color: $color1
    border: 2px solid $color2
    border-radius: 10px
    box-sizing: border-box
    color: #000
    float: left
    height: 195px
    margin: 10px
    max-width: 300px
    min-width: 240px
    padding: 20px
    width: 300px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    &.warning
      border: 2px solid $warningcolor
    H3.sensor-name
      margin: 0px auto
      text-align: center
    SPAN.last-updated
      display: block
      margin: 0px auto 20px auto
      text-align: center
    P
      margin: 5px 0px
      LABEL
        font:
          weight: bold
    A
      color: #F00
      text:
        decoration: none
        transform: uppercase

FORM#graph-period
  background: #F1F1F1
  margin: 20px auto
  max-width: 80%
  width: 90%
  div.field 
    display: inline-block
    padding: 5px 20px 5px 10px
  .submit-button
    border: 2px solid #42E321
    border-radius: 4px
    cursor: pointer
    display: inline-block
    margin-right: 15px
    padding: 5px 10px
  .submit-button.json,
  .submit-button.csv
    background-color: #FFF
    color: #CCC
    display: none
    text-decoration: none